html {
  font-size: 100%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
  min-height: 350vh;
  overflow-x: hidden; }

h1, h2, h3 {
  margin-top: 0; }

hr {
  border: 0 none;
  height: 15px;
  background-color: gray;
  margin-left: 2rem;
  width: 80%; }

.flex {
  display: flex; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }

.fas {
  margin-right: 10px; }

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 3.75rem;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(#038AFF, transparent); }
.header button {
  background-color: #FFF;
  color: #1D1348;
  width: 140px;
  height: 40px;
  border: none; }
.header nav {
  padding: 1.0625rem 1.5rem;
  background-color: #038AFF; }
.header__logo img {
  width: 86px; }
.header__menu {
  background: #038AFF;
  padding: 1.625rem;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 999; }
  .header__menu a {
    color: #FFF;
    padding: 0.625rem;
    display: block;
    text-align: center;
    text-decoration: none; }
.header__links a {
  position: relative;
  color: #FFF;
  transition: color 200ms ease-in-out;
  text-decoration: none; }
  .header__links a:not(:last-child) {
    margin-right: 32px; }
  .header__links a::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -15px;
    background: #82c5ff;
    opacity: 0;
    transition: opacity  200ms ease-in-out; }
  .header__links a:hover {
    color: #e8eaee; }
    .header__links a:hover::before {
      opacity: 1; }
.header__links__cta {
  font-size: 1rem;
  transition: opacity 200ms ease-in-out; }
  .header__links__cta:hover {
    opacity: 0.75; }

.hero {
  min-height: 100vh; }
  .hero .hero_cont {
    padding-top: 5rem; }
  .hero__image {
    transform: skewY(-4deg) scaleY(0.9) translateY(15%);
    transform-origin: 0 50%;
    background-color: #038AFF;
    top: -15.5rem;
    height: 67.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1; }
  .hero__text {
    margin-left: 8%;
    padding-top: 8rem; }
    .hero__text h1 {
      color: #FFF;
      font-size: 2.3rem;
      line-height: 1.5;
      width: 15rem; }
    .hero__text p {
      line-height: 1.7;
      color: #FFF;
      margin-bottom: 4rem;
      width: 20rem;
      font-size: 1rem; }
    .hero__text button {
      background-color: #FFF;
      color: #1D1348;
      width: 190px;
      height: 50px;
      border: none;
      font-size: 1rem; }
  .hero__trusted {
    margin-top: 5rem; }
    .hero__trusted p {
      font-size: 0.75rem;
      color: #FFF;
      margin: 0;
      padding: 0; }
    .hero__trusted__img {
      width: 5.3125rem;
      height: 2.125rem;
      position: relative; }
  .hero__cta {
    position: relative;
    left: 0;
    padding: 20px 30px 20px 30px;
    margin: auto; }
    .hero__cta .fas {
      margin-left: 10px; }
  .hero__card {
    transform-style: preserve-3d;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 72px;
    border-bottom-left-radius: 10px;
    width: 25rem;
    margin-left: 10%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
  .hero__mastercard button {
    position: absolute;
    font-size: .875rem;
    top: 4%;
    left: 71%;
    margin: auto;
    background-color: white;
    color: #1D1348;
    border: 2px solid #e8eaee;
    font-size: 13px;
    text-decoration: none; }
    .hero__mastercard button:hover {
      background-color: #0B5ED7;
      color: white;
      border: none; }
  .hero__mastercard p {
    padding: 2rem 0 0 2.5rem; }
  .hero__mastercard img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    width: 93%; }
  .hero .info p {
    font-size: 13px;
    color: #868990;
    padding-left: 2rem;
    padding-top: 0px;
    padding-bottom: 5px; }
  .hero .info h3 {
    display: inline-block;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: 500;
    color: #1D1348;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0; }
  .hero .price {
    float: right;
    padding-right: 3.7rem; }
  .hero .info button {
    color: #038AFF;
    font-size: 0.9rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    text-decoration-style: dashed;
    text-decoration-color: #038AFF; }

.projects {
  min-height: 250vh;
  margin-top: 4rem; }
  .projects .image {
    position: relative;
    width: 50rem;
    cursor: pointer; }
    .projects .image__img {
      display: block;
      width: 100%; }
    .projects .image__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transition: opacity .25s; }
      .projects .image__overlay:hover {
        opacity: 1; }
    .projects .image__title {
      font-size: 1.5rem; }
  .projects .wrap2 {
    width: 61%; }
  .projects .wrap1 {
    width: 45%;
    margin-left: 5%;
    padding-top: 3rem; }
  .projects .fas {
    font-size: 10px;
    margin-left: .5rem; }
  .projects .progress {
    margin-bottom: 1rem;
    margin-left: 2rem;
    width: 87%; }
    .projects .progress-bar {
      background-color: #FFBC3E; }
  .projects__barcard {
    height: 20rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 5%;
    border: 1px solid #e8eaee; }
    .projects__barcard h3 {
      font-size: 1.2rem;
      margin-left: 2rem;
      margin-bottom: 0;
      margin-top: 1rem;
      color: #1D1348;
      font-weight: 600; }
    .projects__barcard p {
      font-size: 0.9rem;
      color: #1D1348;
      margin-top: 2rem;
      margin-left: 2rem;
      display: inline-block;
      font-weight: 600; }
    .projects__barcard .timer {
      float: right;
      color: gray;
      margin-right: 2rem;
      font-weight: normal; }
    .projects__barcard img {
      width: 68%;
      height: 17,5625rem;
      position: relative;
      top: -21.5rem;
      left: 14.5rem;
      border-radius: 10px; }
  .projects__text {
    margin-left: 13%; }
    .projects__text h3 {
      background-color: #FFBC3E;
      border-radius: 2rem;
      width: 4rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding-top: 5px;
      text-align: center;
      color: white;
      margin-bottom: 2rem; }
    .projects__text h4 {
      color: #1D1348;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 2rem; }
    .projects__text p {
      line-height: 1.7;
      color: gray; }
  .projects__text2 {
    margin-top: 8rem;
    margin-left: 9%;
    margin-right: 5%;
    width: 80%;
    margin-bottom: 5rem; }
    .projects__text2 h3 {
      background-color: #3fdb73;
      border-radius: 2rem;
      width: 5rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding-top: 5px;
      text-align: center;
      color: white;
      margin-bottom: 2rem; }
    .projects__text2 .title {
      color: #1D1348;
      line-height: 1.7;
      font-weight: 600;
      margin-bottom: 2rem;
      font-size: 1rem;
      width: 75%; }
    .projects__text2 p {
      color: #3fdb73; }
      .projects__text2 p .fas {
        font-size: 1.3rem; }
    .projects__text2 img {
      border-radius: 10px;
      width: 40%; }
  .projects__text3 {
    position: relative;
    margin-left: 5%;
    width: 100%;
    left: -4rem; }
    .projects__text3 h3 {
      background-color: #038AFF;
      border-radius: 2rem;
      width: 7rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding-top: 5px;
      text-align: center;
      color: white;
      margin-bottom: 2rem; }
    .projects__text3 .title {
      color: #1D1348;
      line-height: 1.7;
      font-weight: 600;
      margin-bottom: 2rem;
      font-size: 1.5rem; }
    .projects__text3 .sub {
      color: #868990; }
    .projects__text3 a {
      border-bottom: 3px solid #038AFF;
      text-decoration: none;
      color: #038AFF; }
  .projects__text4 {
    margin-left: 10%;
    margin-top: 5rem; }
    .projects__text4 .project__txt {
      width: 50%; }
    .projects__text4 h3 {
      background-color: #FFBC3E;
      border-radius: 2rem;
      width: 7rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding-top: 5px;
      text-align: center;
      color: white;
      margin-bottom: 2rem; }
    .projects__text4 .title {
      color: #1D1348;
      line-height: 1.7;
      font-weight: 600;
      margin-bottom: 2rem;
      font-size: 1.5rem; }
    .projects__text4 .sub {
      color: #868990; }
    .projects__text4 .apple_logo {
      background-color: black;
      margin-bottom: 2rem;
      padding: 1rem;
      width: 20rem;
      border-radius: 10px; }
      .projects__text4 .apple_logo img {
        width: 10%; }
      .projects__text4 .apple_logo p {
        display: inline-block;
        text-align: center;
        padding-left: 1rem;
        color: #FFF; }
    .projects__text4 .playstore_logo {
      background-color: black;
      padding: 1rem;
      width: 20rem;
      border-radius: 10px; }
      .projects__text4 .playstore_logo img {
        width: 10%; }
      .projects__text4 .playstore_logo p {
        display: inline-block;
        text-align: center;
        padding-left: 1rem;
        color: #FFF; }
    .projects__text4 .people {
      position: relative;
      border-radius: 10px;
      width: 50%; }
  .projects__usercard .card {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .projects__usercard .card .card-text {
      position: absolute;
      left: 5rem;
      bottom: 1rem;
      color: #1D1348;
      font-weight: 600;
      font-size: .9rem; }
    .projects__usercard .card .username {
      background: #FFBC3E;
      width: 3rem;
      height: 3rem;
      border-radius: 50%; }
      .projects__usercard .card .username p {
        font-size: .9rem;
        text-align: center;
        padding-top: 13px;
        padding-right: 5px;
        padding-left: 3px;
        color: white; }
  .projects .airbnb {
    position: relative;
    border-radius: 10px;
    margin-bottom: 2rem; }
    .projects .airbnb .airbnb-logo {
      margin-bottom: 1rem;
      width: 50%;
      margin-left: 4rem;
      padding-top: 2rem; }
    .projects .airbnb .stars {
      color: #FFBC3E;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .projects .airbnb .stars .other {
        color: #868990; }
    .projects .airbnb .airbnb-text {
      margin-bottom: 1rem;
      text-align: center;
      color: #1D1348;
      font-weight: 600;
      font-size: .9rem; }
    .projects .airbnb .airbnb-review {
      text-align: center;
      font-size: .7rem;
      color: gray;
      margin-bottom: 3rem; }
  .projects .card1 {
    margin-bottom: 2rem; }
  .projects .components {
    position: relative;
    text-align: center;
    border-radius: 10px; }
    .projects .components_circle {
      background: #3fdb73;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-left: 1.3rem;
      position: relative;
      top: 1.9rem; }
      .projects .components_circle .fas {
        color: #FFF;
        font-size: 1.5rem;
        padding-top: 25%;
        padding-left: 10%; }
    .projects .components_title {
      font-size: 1rem;
      color: #1D1348;
      font-weight: 600;
      margin-bottom: 10px;
      position: relative;
      bottom: 1.5rem;
      left: 2rem; }
    .projects .components_sub {
      font-size: .8rem;
      color: #868990;
      position: relative;
      bottom: 1.5rem;
      left: 2rem; }
  .projects .company {
    position: relative;
    border-radius: 10px;
    padding-top: 2rem; }
    .projects .company_logo {
      width: 25%;
      border-radius: 50%;
      position: relative;
      left: 40%; }
    .projects .company_user {
      width: 20%;
      border-radius: 50%;
      border: 2px solid #FFF;
      position: relative;
      left: 40%; }
      .projects .company_user:not(:first-child) {
        margin-left: -1.4rem; }
    .projects .company_text {
      text-align: center;
      color: #1D1348;
      font-weight: 600; }
    .projects .company_icons {
      display: flex;
      align-items: center;
      justify-content: center; }
    .projects .company .fa-eye {
      margin-left: 1.5rem;
      margin-right: 1.5rem; }
    .projects .company .fa-paperclip {
      margin: 0; }
  .projects__end {
    margin-top: 10rem;
    background-color: #1D1348;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #FFF;
    width: 80%; }
    .projects__end button {
      width: 140px;
      height: 40px;
      margin-top: 2rem;
      margin-left: 9%;
      background-color: #FFF;
      color: #1D1348;
      border: none; }
    .projects__end h4 {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .projects__end p {
      font-size: .9rem; }

.awards {
  min-height: 70vh;
  position: relative; }
  .awards__bg {
    background-color: #FAFBFF;
    top: 0;
    height: 35rem;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    z-index: -1; }
  .awards_text {
    padding-left: 10rem;
    padding-top: 5rem; }
    .awards_text .title {
      background-color: #038AFF;
      border-radius: 2rem;
      width: 5rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding-top: 5px;
      text-align: center;
      color: white;
      margin-bottom: 1rem; }
    .awards_text .sub {
      color: #1D1348;
      font-weight: 600; }
  .awards__testimonials {
    display: flex; }
    .awards__testimonials .card {
      position: unset;
      width: 25%;
      margin-left: 2%;
      margin-right: 2%;
      cursor: pointer; }
    .awards__testimonials .global-logo {
      margin-bottom: 1rem;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2rem; }
    .awards__testimonials .global-text {
      margin-bottom: 1rem;
      text-align: center;
      color: #1D1348;
      font-weight: 600;
      font-size: 1rem; }
    .awards__testimonials .global-review {
      text-align: center;
      font-size: .9rem;
      color: gray;
      margin-bottom: 3rem; }
    .awards__testimonials .more {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 2rem;
      font-weight: 600;
      color: #1D1348; }
    .awards__testimonials .stars {
      color: #FFBC3E;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .awards__testimonials .stars .other {
        color: #868990; }
    .awards__testimonials .airbnb {
      border-radius: 10px;
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .awards__testimonials .amazon {
      border-radius: 10px;
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
      .awards__testimonials .amazon .global-logo {
        width: 45%; }
    .awards__testimonials .slack {
      border-radius: 10px;
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
      .awards__testimonials .slack .global-logo {
        width: 45%; }
    .awards__testimonials .spotify {
      border-radius: 10px;
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .awards__testimonials .paypal {
      border-radius: 10px;
      transition: all .3s ease-in-out;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
      .awards__testimonials .paypal .global-logo {
        width: 45%; }

.faq {
  min-height: 100vh;
  position: relative; }
  .faq .container {
    margin-top: 3rem; }
  .faq__title {
    text-align: center; }
    .faq__title h3 {
      color: #1D1348;
      font-weight: 600;
      font-size: 2rem; }
    .faq__title p {
      color: #868990; }
  .faq .accordion {
    margin-right: auto;
    margin-left: auto; }
    .faq .accordion .contentbx {
      position: relative;
      margin: 2.5rem 1rem;
      border: 1px solid #e8eaee;
      border-radius: 10px;
      padding: 0 1rem;
      width: 90%; }
    .faq .accordion .contentbx.active .content {
      height: 150px; }
    .faq .accordion .contentbx.active .label::before {
      content: "-"; }
    .faq .accordion .content {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: height .5s ease-in-out;
      margin-bottom: 0; }
    .faq .accordion .label {
      position: relative;
      padding: 1.8rem 1rem;
      cursor: pointer;
      color: #1D1348; }
      .faq .accordion .label::before {
        content: "+";
        position: absolute;
        top: 50%;
        right: 1.3rem;
        transform: translateY(-50%);
        font-size: 1.5rem; }
    .faq .accordion p {
      color: #868990; }
  .faq__txt .title {
    font-size: 1.1rem;
    text-align: center;
    padding-top: 3rem;
    color: #1D1348;
    font-weight: 600; }
  .faq__txt a {
    padding-left: 2rem;
    text-decoration: none;
    color: #1D1348; }
  .faq__txt .cta_faq {
    margin-left: auto;
    margin-right: auto;
    width: 16em; }

footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #1D1348;
  padding: 3rem; }

.footer {
  display: grid;
  position: relative;
  min-height: 60vh;
  padding: 5rem 5rem 0 5rem; }
  .footer__top .title {
    color: #FFF;
    margin-bottom: 1rem; }
  .footer__top .sub {
    color: #FFF; }
  .footer__top .cta {
    margin-bottom: 10rem; }
    .footer__top .cta button {
      float: right; }
    .footer__top .cta .doc {
      margin-right: 2rem;
      color: #1D1348;
      background-color: #FFF;
      border: none; }
      .footer__top .cta .doc .fa-book {
        color: #038AFF; }
      .footer__top .cta .doc:hover {
        background-color: #e8eaee; }
  .footer__left {
    margin-right: 1.25rem;
    margin-bottom: 4rem;
    width: 50%;
    float: left; }
    .footer__left p {
      padding-right: 20%;
      color: #8489A7; }
    .footer__left img {
      width: 40%;
      margin-bottom: 2rem; }
    .footer__left a {
      color: #8489A7; }
      .footer__left a:not(:first-child) {
        margin-left: 1rem; }
  .footer h5 {
    color: #FFF;
    font-size: 1.3rem;
    margin-bottom: 2rem; }
  .footer ul {
    list-style: none;
    padding-left: 0; }
    .footer ul li {
      line-height: 1rem; }
    .footer ul a {
      text-decoration: none; }
  .footer .box {
    color: #8489A7;
    margin-right: 4rem; }
    .footer .box:last-child {
      margin-right: 0; }
    .footer .box li {
      margin-bottom: 1rem;
      margin-right: 1rem; }
  .footer .container {
    width: 100%; }
  .footer__right {
    float: right;
    width: 50%; }
  .footer__bottom {
    color: #8489A7; }
    .footer__bottom span {
      color: #FFF; }
    .footer__bottom .reserved {
      display: inline-block; }
    .footer__bottom ul {
      display: inline-block;
      float: right; }
      .footer__bottom ul li {
        display: inline-block; }
        .footer__bottom ul li a {
          color: #8489A7; }

@media only screen and (min-width: 1200px) {
  .header__logo img {
    margin-left: 292%; }

  .hero__text {
    margin-left: 15%; }
  .hero__trusted {
    width: 40rem; }
    .hero__trusted p {
      display: inline-block;
      width: 7rem; }
  .hero__card {
    margin-left: 20%; }

  .projects {
    margin-left: 15%; }
    .projects__barcard {
      width: 25rem; }
      .projects__barcard img {
        width: 72%; }
    .projects__text {
      width: 30%; }
    .projects__text2 {
      width: 60%; }
      .projects__text2 img {
        width: 45%; }
    .projects__text3 {
      margin-top: 10rem; }
    .projects__text4 {
      margin-left: 0; }
      .projects__text4 .people {
        width: 33%;
        margin-left: 2%; }
    .projects .project__txt {
      margin-left: 3%;
      width: 42%; }
    .projects__end {
      margin-left: 3%;
      width: 77%;
      margin-bottom: 7rem; }
      .projects__end button {
        margin-left: 35%; }

  .awards {
    margin-bottom: 5rem; }
    .awards__text {
      padding-left: 17%;
      margin-bottom: 7rem; }

  .footer__top {
    margin-left: 12%; }
  .footer__bottom {
    margin-left: 12%; }
  .footer__left img {
    width: 25%; } }

/*# sourceMappingURL=style.css.map */
